.setting-nav i, .search-box i {
  font-size: 25px;
  color: grey;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.setting-nav i:hover, .search-box i:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.search-box input {
  background-color: #FFFFFF;
  border: none;
  border-radius: 50px;
  width: 80%;
}

.search-box input:hover::-webkit-input-placeholder {
  color: cornflowerblue;
  font-weight: 300;
}

.search-box input:hover:-ms-input-placeholder {
  color: cornflowerblue;
  font-weight: 300;
}

.search-box input:hover::-ms-input-placeholder {
  color: cornflowerblue;
  font-weight: 300;
}

.search-box input:hover::placeholder {
  color: cornflowerblue;
  font-weight: 300;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main {
  width: 100%;
}

.text-muted {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: 60px auto;
  background: #FFFFFF;
  padding: 0;
  border-radius: 0px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.setting-tray {
  background-color: #EEEEEE;
  padding: 10px 15px;
  border-radius: 0px;
}

.setting-nav {
  float: right;
}

.setting-nav i {
  margin: 10px 15px;
}

.search-box {
  background-color: #FAFAFA;
  padding: 10px 15px;
}

.friend-box {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: baseline;
  background: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.friend-box:hover {
  background: cornflowerblue;
  cursor: pointer;
}

.friend-box:hover p, .friend-box:hover h4, .friend-box:hover .time {
  color: #FFFFFF;
}

.current-friend-box {
  padding: 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: baseline;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 1px 10px  grey;
          box-shadow: 10px 1px 10px  grey;
}

.content-msg {
  margin-left: 15px;
  width: 100%;
}

.content-msg h4 {
  margin-top: 6px;
  margin-bottom: 0;
}

.content-msg p {
  margin: 3px;
}

.chat-panel {
  display: -ms-grid;
  display: grid;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
}

.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}

.chat-bubble--sender {
  float: left;
}

.chat-bubble--sender:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--reciver {
  float: right;
  background-color: cornflowerblue;
  color: #FFFFFF;
}

.chat-bubble--reciver:after {
  right: 0;
  border-left-color: cornflowerblue;
  border-right: 0;
  margin-right: -20px;
}
/*# sourceMappingURL=style.css.map */