$image-size: 50px;
$border-radius: 0px;

%sys-icon {
    font-size: 25px;
    color: grey;
    transition: .3s;
    vertical-align: middle;
    &:hover{
        color:cornflowerblue;
        cursor: pointer;
    }
}

%sys-input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 80%;
    &:hover::placeholder {
        color:cornflowerblue;
        font-weight: 300;
    }
    
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    font-family:  Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


hr {
    margin: 5px auto;
    width: 60%;
}

.row {
    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
}


.text-muted {
    color: rgba($color: #000000, $alpha: .3)
}

.container {
    margin: 60px auto;
    background: #FFFFFF;
    padding: 0;
    border-radius: $border-radius;
}

.profile-img {
    width: $image-size;
    height: $image-size;
    border-radius: $image-size / 2;
    
}

.setting-tray {
    background-color: #EEEEEE;
    padding: 10px 15px;
    border-radius: $border-radius;
    
}

.setting-nav {
    float: right;
    i {
        @extend %sys-icon;
        margin: 10px 15px;
    }
}

.search-box {
    background-color: #FAFAFA;
    padding: 10px 15px;
    input {
        @extend %sys-input;
    }
    i {
        @extend %sys-icon;
    }
}

.friend-box {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #FFFFFF;
    transition: .3s;
    &:hover {
        background: cornflowerblue;
        cursor: pointer;
        p , h4, .time {
            color: #FFFFFF;
        }
    }
}

.current-friend-box {
    padding: 11px 15px;
    display: flex;
    vertical-align: baseline;
    background-color: #FFFFFF;
    box-shadow: 10px 1px 10px  grey;
}

.content-msg {
    margin-left: 15px;
    width:100%;

    & h4 {
        margin-top: 6px;
        margin-bottom: 0;
    }
     & p {
        margin: 3px;
     }
    
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom: 0;
      margin-top: -10px;
    }
    
    &--left {
       &:after {
            left: 0;
            border-right-color: #eee;
            border-left: 0;
            margin-left: -20px;
      }
    }
    
    &--right {
        background-color: cornflowerblue;
        color: #FFFFFF;
        &:after {
            right: 0;
            border-left-color: cornflowerblue;
            border-right: 0;
            margin-right: -20px;
      }
    }
  }
  
  


